.DS_Store
node_modules/
.next/
dist/
build/
target/
.idea/
.vscode/
*.log
*.iml
.env
.env.local
out/
.local/
.venv/
__pycache__/
.pycache/
.pytest_cache/
*.tsbuildinfo
.vercel
public/
latest-slug.txt
